* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#filme {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#filme div {
  width: 18%;
  margin: 10px;
  box-shadow: 0px 0px 10px silver;
  border-radius: 10px;
  transition: ease 1s;
}

#filme div img {
  width: 100%;
  border-radius: 10px;
}

.voto {
  background-color: rgb(16, 1, 61);
  padding: 10px;
  color: seashell;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 10pt;
  margin-top: -30px;
  margin-left: 10px;
  /*Subir o Elemento acima dos demais*/
  z-index: 200;
  position: relative;
  border: 2px solid rgb(174, 0, 255);
  box-shadow: 0px 0px 5px black;
}

h2 {
  margin: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13pt;
}

.data {
  text-align: center;
  font-family: Verdana;
  font-size: 8pt;
  margin: 10px;
}
#filme div:hover {
    transform: scale(1.1);
    cursor: pointer ;
    box-shadow: 0px 0px 0px 100vw rgba(0, 0, 0, 0.6);
    border-radius: 0px;
    z-index: 1000;
}


